@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}



img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imgtag{
    width: 8rem;
    height: 8rem;
} 

.imgtag:hover{
    transform: rotate(10deg);
   
}

p,h2,a{
    color: rgba(0, 0, 0, 0.452);
}

p{
    margin: 5px;
}
.card{
    margin: 5px;
}
.card h2{
    font-weight: bolder;
}
.procard{
    margin: 5px;
}
.procard div{
    padding: 5px;
}





.flex{
    display: flex;
    align-items: space-between;
    justify-content: center;
    flex-wrap: wrap;
}


.head{
    display: flex;
    align-items: center;
    flex-direction: column;


}

.line{
    text-decoration: underline;
}

.card{
    border: 1px solid black;
    width: 280px;
   border-radius: 10px ;
   padding: 10px;
   margin-top: 10px;
   margin-bottom: 10px;
}

.procard{
    border: 1px solid black;
    width: 280px;
    border-radius: 10px ;
   padding: 10px;
   margin-top: 10px;
   margin-bottom: 10px;
}


.header{
    padding: 2px;
    color: white;
    background-color: rgba(0, 0, 0, 0.986);
    text-align: center;
}

a{
    font-size: 20px;
    margin: 10px;
}
.section{
   margin-top:10px ;
   user-select: all;
   /* border: 1px solid red; */
}


.main{
   height: 100vh;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #CCCC99;
}

.left{
    width: 30%;
    padding: 10px;
    /* background-color: aqua; */
    height: 100vh;
    /* border: 1px solid black; */
}

.right{
    width: 70%;
    padding: 10px;
    /* background-color: rgba(0, 255, 255, 0.479); */
    height: 100vh;
}










.Namecover{
   
    height: 100px;
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}



.cover{
    font-size: 7rem;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.123);
    /* transform: translateX(64rem); */
  
}












@media only screen and (max-width: 600px) {
    .main{
        flex-direction: column;
    }
    .left{
     width: 100%;
    }
    .right{
       width: 100%;
    }
    .Namecover{
       display: none;
    }
    
   }





















 


/* ===================== ====================== */


.varlim{
    display: flex;
    align-items: center;
    justify-content: center;
}
